<div class="container">
    <p-card styleClass="card" header="{{appName}}">
        <form class="grid" [formGroup]="form" (submit)="login()">
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <input formControlName="email" type="text" pInputText placeholder="Email..." 
                class="p-inputtext-sm {{formValidator(form, 'email') ? 'ng-invalid ng-dirty':''}}"/>
            </div>
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <input formControlName="pass" type="password" pInputText placeholder="Contraseña..." 
                class="p-inputtext-sm {{formValidator(form, 'pass') ? 'ng-invalid ng-dirty':''}}"/>
            </div>
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <div class="flex justify-content-center">
                    <img #captcha alt="Captcha" class="captcha">
                </div>
            </div>
            <div class="col-12 md:col-6 md:col-offset-3">
                <input placeholder="Captcha..." formControlName="captcha" maxlength="6" type="text" class="inputfield w-full" pInputText
                class="p-inputtext-sm {{formValidator(form, 'captcha') ? 'ng-invalid ng-dirty':''}}"/>
            </div>
            <div class="col-12 lg:col-10 lg:col-offset-1">
                <button [disabled]="form.invalid || loading" [loading]="loading" type="submit" pButton pRipple label="Ingresar" class="w-full"></button>
            </div>
        </form>
    </p-card>
</div>