<div class="grid">
    <div class="col-12">
        <p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
    </div>
    <div class="col-12">
        <button (click)="elementAddShow = true;" pButton pRipple type="button" label="Agregar" icon="pi pi-plus"></button>
    </div>
    <div class="col-12">
        <p-table 
            #tabla 
            styleClass="p-datatable-striped p-datatable-gridlines shadow-1" 
            [value]="list" 
            [paginator]="true" 
            [rows]="10" 
            [showCurrentPageReport]="true" 
            responsiveLayout="scroll"
            currentPageReportTemplate="{first} a {last} de {totalRecords}" 
            [rowsPerPageOptions]="[10,25,50]" 
            [globalFilterFields]="['nombre', 'tipo_invitacion_nombre']">
            <ng-template pTemplate="header">
                <tr>
                    <th>Invitado</th>
                    <th>Asistencia</th>
                    <th>Invitaciones</th>
                    <th>Total</th>
                    <th>Enlace</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <div>
                        <button pButton label="Limpiar" class="p-button-outlined p-button-sm mr-2" icon="pi pi-filter-slash" (click)="tabla.clear();buscar_tabla.value='';"></button>
                    </div>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input #buscar_tabla pInputText type="text" (input)="tabla.filterGlobal(buscar_tabla.value, 'contains')" placeholder="Buscar..." class="p-inputtext"/>
                    </span>
                </div>
            </ng-template> 
            <ng-template pTemplate="body" let-element>
                <tr>
                    <td>{{element.nombre}}</td>
                    <td>
                        <p-tag *ngIf="element.confirmado" styleClass="m-1" severity="success" icon="pi pi-check" [value]="'Confirmado'"></p-tag>
                        <p-tag *ngIf="!element.confirmado" styleClass="m-1" severity="warning" icon="pi pi-clock" [value]="'No confirmado'"></p-tag>
                    </td>
                    <td>
                        <p-tag styleClass="m-1" icon="pi pi-users" *ngFor="let inv of element.invitaciones" [value]="inv.tipo_invitacion_nombre + ' ' + inv.cantidad"></p-tag>
                    </td>
                    <td>{{element.invitaciones_total}}</td>
                    <td><a [href]="element.url" target="_blank">{{element.url}}</a></td>
                    <td>
                        <button pTooltip="Editar" (click)="setEdit(element)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text mr-2"></button>
                        <button pTooltip="Eliminar" (click)="confirm($event, element)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="elementAddShow" styleClass="modal-xl" [modal]="true">
    <ng-template pTemplate="header">
        Agregar
    </ng-template>
    <form [formGroup]="formAdd" class="grid" (submit)="add()">
        <div class="col-12">
            <div class="field">
                <label for="nombres" class="block">Nombre Invitado (<span>*</span>)</label>
                <input formControlName="nombre" id="nombre" type="text" pInputText placeholder="Flia. Barrios / Juan Pérez" 
                class="p-inputtext {{formValidator(formAdd, 'nombre') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(formAdd, 'nombre')">
                    <p class="error" *ngIf="fieldValidator(formAdd, 'nombre', 'required')">
                        Nombre Invitado requerido
                    </p>             
                </div>
            </div>
        </div>
        <div class="col-12">
            <button pButton pRipple icon="pi pi-plus" type="button" label="Invitación" class="p-button-success mb-4" (click)="agregarInvitacion()"></button>
            <div formArrayName="invitaciones">
                <div class="grid" *ngFor="let invitacion of invitaciones.controls; let i = index" [formGroupName]="i">
                    <div class="col-5">
                        <p-dropdown placeholder="Tipo..." [style]="{ width : '100%' }" appendTo="body" 
                        [options]="tiposInvitacionList" formControlName="tipo" optionLabel="nombre" 
                        optionValue="id"></p-dropdown>
                    </div>
                    <div class="col-5">
                        <input class="p-inputtext" type="number" formControlName="cantidad" placeholder="Cantidad">
                    </div>
                    <div class="col-2">
                        <div class="flex justify-content-start align-items-center">
                            <div>
                                <button pButton pRipple type="button" label="Eliminar" class="p-button-danger" (click)="eliminarInvitacion(i)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="formAdd.invalid || elementAddLoading" (click)="add()" pButton pRipple type="button" icon="pi pi-check" label="Guardar" class="p-button-text"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="elementEditShow" styleClass="modal-xl" [modal]="true">
    <ng-template pTemplate="header">
        Editar
    </ng-template>
    <form [formGroup]="formEdit" class="grid" (submit)="edit()">
        <div class="col-12">
            <div class="field">
                <label for="nombres" class="block">Nombre Invitado (<span>*</span>)</label>
                <input formControlName="nombre" id="nombre" type="text" pInputText placeholder="Flia. Barrios / Juan Pérez" 
                class="p-inputtext {{formValidator(formEdit, 'nombre') ? 'ng-invalid ng-dirty':''}}"/>
                <div *ngIf="formValidator(formEdit, 'nombre')">
                    <p class="error" *ngIf="fieldValidator(formEdit, 'nombre', 'required')">
                        Nombre Invitado requerido
                    </p>             
                </div>
            </div>
        </div>
        <div class="col-12">
            <button pButton pRipple icon="pi pi-plus" type="button" label="Invitación" class="p-button-success mb-4" (click)="agregarInvitacion(true)"></button>
            <div formArrayName="invitaciones">
                <div class="grid" *ngFor="let invitacion of invitacionesEdit.controls; let i = index" [formGroupName]="i">
                    <div class="col-5">
                        <p-dropdown placeholder="Tipo..." [style]="{ width : '100%' }" appendTo="body" 
                        [options]="tiposInvitacionList" formControlName="tipo" optionLabel="nombre" 
                        optionValue="id"></p-dropdown>
                    </div>
                    <div class="col-5">
                        <input class="p-inputtext" type="number" formControlName="cantidad" placeholder="Cantidad">
                    </div>
                    <div class="col-2">
                        <div class="flex justify-content-start align-items-center">
                            <div>
                                <button pButton pRipple type="button" label="Eliminar" class="p-button-danger" (click)="eliminarInvitacion(i, true)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="formEdit.invalid || elementEditLoading" (click)="edit()" pButton pRipple type="button" icon="pi pi-check" label="Guardar" class="p-button-text"></button>
    </ng-template>
</p-dialog>