.nav {
    align-items: center;
    background-color: var(--surface-card);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 1rem;

    .left {
        align-items: center;
        display: flex;
        
        p {
            margin: 0 1rem;
        }
    }

    .right {
        align-items: center;
        display: flex;
    }
}