@import "./globals.scss";

body {
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    margin: 0;
}

.sidebar {
    
    width: 100vw !important;

    @media screen and (min-width: $sm) {
        width: 80vw !important;
    }
    @media screen and (min-width: $md) {
        width: 50vw !important;
    }
    @media screen and (min-width: $lg) {
        width: 30vw !important;
    }
    @media screen and (min-width: $xl) {
        width: 25vw !important;
    }
}

.modal, .card {

    width: 100%;
    @media screen and (min-width: $sm){
      width: 70vw;
    }
    @media screen and (min-width: $md){
      width: 60vw;
    }
    @media screen and (min-width: $lg){
      width: 40vw;
    }
    @media screen and (min-width: $xl){
      width: 40vw;
    }

    .p-dialog-header {
        font-size: 1rem;
        color: var(--primary-color) !important;
        font-weight: bold;
    }
}

.modal-xl, .card-xl {

    width: 100%;

    @media screen and (min-width: $xl){
      width: 80vw;
    }

    .p-dialog-header {
        font-size: 1rem;
        color: var(--primary-color) !important;
        font-weight: bold;
    }
}

.p-input-icon-left, .p-float-label, input {
    width: 100%;
}

label span {
    color: var(--pink-500);
}

.error {
    font-size: 12px;
    color: var(--pink-500);
}

.titulo {
    font-size: 1.25rem;
    font-weight: bold;
}